<a href="https://colab.research.google.com/github/amrrahman1/First-Model/blob/main/First_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [63]:
# import required libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [64]:
df = pd.read_csv('/content/drive/MyDrive/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [65]:
df = df.drop_duplicates()

df.duplicated().sum()

0

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1337 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   object
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   object
 5   region    1337 non-null   object
 6   charges   1337 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.6+ KB

In [67]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [68]:
print('unique sex', df['sex'].unique())
print('\n')
print('unique smoker', df['smoker'].unique())
print('\n')
print('unique region', df['region'].unique())
print('\n')

unique sex ['female' 'male']


unique smoker ['yes' 'no']


unique region ['southwest' 'southeast' 'northwest' 'northeast']

In [69]:
#Define features (X) and target (y)
X = df.drop(columns='charges')
y = df['charges']

In [70]:
#Train test split the data.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

Age : Numerical,
Sex : Nominal,
Bmi :Numeric,
Children: Numerical,
Smoker :Nominal,
Region : Nominal,
Charges: Numerical.

In [71]:
#One Hot Encode the nominal features :
#make categorical and numeric selectors

cat_data = make_column_selector(dtype_include='object')
num_data = make_column_selector(dtype_include='number')

In [72]:
#instantiate one hot encoder
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
scaler = StandardScaler()

In [73]:
ohe_tuple= (encoder, cat_data)
scaler_tuple = (scaler, num_data)

In [74]:
col_transformer= make_column_transformer(ohe_tuple,scaler_tuple, remainder='passthrough')

In [75]:
lin_reg = LinearRegression()
pipe = make_pipeline(col_transformer, lin_reg)
pipe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories='auto',
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7fe8e9a693d0>),
                                                 ('standardscaler',
                                                  StandardScaler(copy=True,
                                                                 with_mean=True,
                                                                 with_std=True),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7fe8e9a69510>)],
                                   verbose=False)),
                ('linearregression',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

I have made trials on diffrent sheets but I totally ran out of ideas for the reason why I am getting this error.

In [76]:
#Evaluate the model performance on both the training set and the test set using R^2 score
print(f'Train R2: {r2_score(y_train, pipe.predict(X_train))}')
print(f'Test R2: {r2_score(y_test, pipe.predict(X_test))}')

Train R2: 0.7297002144711616
Test R2: 0.7955783083418878